body{
    background-color: #F7F5E9;
}

#parent{
    border: 1px solid black;
    height: 1000px;
    width: 700px;
    position: relative;
    left: 425px;
}

#head_bg{
    width:700px;
    height: 300px;
    background-color: #817461;
    
}

#title{
    position: absolute;
    top: 30px;
    left: 60px;
    font-size: 25px;
    color: #BBB281;
}
#author{
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 58px;
}

#website{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
    color: white;
}


#navi ul li{
    list-style: none;
    float: left;
    position: relative;
    left: 263px;
    bottom: 250px;
    border: 1px solid;
    margin: 0px;
    background-color: #6A6158;
    border-right:1;
    width: 73px;
    height: 39px;
    line-height: 35px;
    text-align: center;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    color: white;
    opacity: 80%;
    border-color: black;
    box-shadow: inset  0 -20px 20px -10px #33322f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 550;
}

#home{
    border-top-left-radius: 10px;
}

#contact{
    border-top-right-radius: 10px;
}

#clgimg{
    position: absolute;
    height: 230px;
    width: 650px;
    right: 25px;
    top: 100px;
    border-radius: 10px;
    border-bottom-left-radius: 80% 100px;
    border-bottom-right-radius: 80% 100px;
    box-shadow: 0px 2px 10px 2px #33322f;
    
}

#img_txt{
    position: absolute;
    top: 83px;
    left: 24px;
    background-color: #66563D;
    height: 227px;
    width: 300px;
    opacity: 70%;
    border-bottom-left-radius: 80% 61px;
    border-top-left-radius: 10px;
    color: white;
    box-shadow: inset  0 -100px 10px -10px #33322f;
    
}

#img_txt_hd{
    font-weight: 500;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 130px;
    left: 50px; 


}
#img_txt_bd{
    position: absolute;
    color: white;
    top: 210px;
    left: 50px;
}
#butt_lrn{
    position: absolute;
    top: 270px;
    left: 190px;
    background-color: #B97E35;
    border: 0;
    border-radius: 10px;
    text-align: cen;
    width: 112px;
    height: 32px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset  0 -20px 20px -10px #8a602e;
}

#red{
    background-color: rgb(255, 30, 30);
    box-shadow: inset  0 -30px 20px -10px rgb(124, 4, 4);
    width: 190px;
    height: 30px;
    position: absolute;
    top: 367px;
    left: 30px;
    color: white;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

#clg_img{
    position: absolute;
    width: 171px;
    height: 70px;
    top: 410px;
    left: 50px;
}

#red_txt{
    position: absolute;
    width: 170px;
    top: 490px;
    left: 50px;
    font-size: 14px;
}

#red_txt2{
    position: absolute;
    width: 170px;
    top: 670px;
    left: 50px;
    font-size: 14px;
}

#clg_img2{
    position: absolute;
    width: 171px;
    height: 70px;
    top: 590px;
    left: 50px;
}




#red_butt{
    position: absolute;
    top: 500px;
    z-index: 2;
    background-color: #B97E35;
    border: 0;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset  0 -20px 20px -10px #8a602e;
    width: 75px;
    height: 22px;
    line-height: 1px;
    font-size: 11px;
    top: 550px;
    left: 135px;
}

#red_butt2{
    position: absolute;
    top: 500px;
    z-index: 2;
    background-color: #B97E35;
    border: 0;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset  0 -20px 20px -10px #8a602e;
    width: 75px;
    height: 22px;
    line-height: 1px;
    font-size: 11px;
    top: 730px;
    left: 135px;
}


#red_line{
    
    position: absolute;
    top: 575px;
    left: 50px;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    opacity: 30%;
}


#yellow{
    background-color: rgb(221, 144, 0);
    box-shadow: inset  0 -30px 20px -10px rgb(138, 99, 26);
    width: 190px;
    height: 30px;
    position: absolute;
    top: 367px;
    left: 243px;
    color: white;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

#yel_txt1{
    position: absolute;
    width: 170px;
    top: 420px;
    left: 270px;
}

#yel_txt2{
    position: absolute;
    width: 170px;
    top: 500px;
    left: 270px;
}

#yel_txt3{
    position: absolute;
    width: 170px;
    top: 580px;
    left: 270px;
}

#yel_txt4{
    position: absolute;
    width: 170px;
    top: 660px;
    left: 270px;
}

#yel_line1{
    position: absolute;
    top: 480px;
    left: 270px;
    width: 156px;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    opacity: 30%;
    /* z-index: 2; */
}

#yel_line2{
    position: absolute;
    top: 560px;
    left: 270px;
    width: 156px;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    opacity: 30%;
    /* z-index: 2; */
}

#yel_line2{
    position: absolute;
    top: 560px;
    left: 270px;
    width: 156px;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    opacity: 30%;
    /* z-index: 2; */
}
#yel_line3{
    position: absolute;
    top: 640px;
    left: 270px;
    width: 156px;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    opacity: 30%;
    /* z-index: 2; */
}


#blue{
    background-color: #3C659C;
    box-shadow: inset  0 -30px 20px -10px #2E4974;
    width: 190px;
    height: 30px;
    position: absolute;
    top: 367px;
    right: 52px;
    color: white;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

#blu_txt{
    position: absolute;
    width: 170px;
    top: 490px;
    right: 50px;
    font-size: 14px;
}

#blu_txt2{
    position: absolute;
    width: 170px;
    top: 670px;
    right: 50px;
    font-size: 14px;
}

#clg_img3{
    position: absolute;
    width: 171px;
    height: 70px;
    top: 410px;
    right: 50px;
}

#clg_img4{
    position: absolute;
    width: 171px;
    height: 70px;
    top: 590px;
    right: 50px;
}

#blu_butt{
    position: absolute;
    top: 500px;
    z-index: 2;
    background-color: #B97E35;
    border: 0;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset  0 -20px 20px -10px #8a602e;
    width: 75px;
    height: 22px;
    line-height: 1px;
    font-size: 11px;
    top: 550px;
    right: 55px;
}

#blu_line{
    
    position: absolute;
    top: 575px;
    right: 50px;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    opacity: 30%;
}


#blu_butt2{
    position: absolute;
    top: 500px;
    z-index: 2;
    background-color: #B97E35;
    border: 0;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset  0 -20px 20px -10px #8a602e;
    width: 75px;
    height: 22px;
    line-height: 1px;
    font-size: 11px;
    top: 730px;
    right: 55px;
}

#foot{
    background-color: #827563;
    position: absolute;
    bottom: 0px;
    width: 640px;
    height: 200px;
    right: 30px;
    border-top-left-radius: 60% 100px;
    border-top-right-radius: 60% 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}



#red_bg{
    background-color: white;
    position: absolute;
    left:35px;
    top: 350px;
    border: 1px solid gray;
    width: 200px;
    height: 430px;   
    border-top-left-radius: 50% 15px;
    border-top-right-radius: 50% 15px;
    border-bottom-left-radius: 50% 15px;
    border-bottom-right-radius: 50% 15px;
}

#yel_bg{
    background-color: white;
    position: absolute;
    left:250px;
    top: 350px;
    border: 1px solid gray;
    width: 200px;
    height: 430px;   
    border-top-left-radius: 50% 15px;
    border-top-right-radius: 50% 15px;
    border-bottom-left-radius: 50% 15px;
    border-bottom-right-radius: 50% 15px;
}


#blu_bg{
    background-color: white;
    position: absolute;
    left:466px;
    top: 350px;
    border: 1px solid gray;
    width: 200px;
    height: 430px;   
    border-top-left-radius: 50% 15px;
    border-top-right-radius: 50% 15px;
    border-bottom-left-radius: 50% 15px;
    border-bottom-right-radius: 50% 15px;
}

.dividers{
    width: 170px;
}


#sect_1{
    font-size: 13px;
    width: 150px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 50px;
}

#sect_2{
    font-size: 13px;
    width: 150px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 250px;
}

#sect_3{
    font-size: 13px;
    width: 150px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 460px;
}

#sect_3 > input{
    width: 140px;
}

.light{
    opacity: 80%;
}

#butt_subs{
    position: absolute;
    left: 67px;
    text-shadow: 1px 1px 1px black;
    background-color: yellow;
    font-size: 12px;
    border: none;
    width: 80px;
    height: 20px;
    box-shadow: inset  0 -20px 20px -10px #8a602e;
    color: white;       
}

#name{
    background-color: rgb(49, 33, 33);
    border: 1px solid black;
    box-shadow: inset 0px 1px 5px 0px black;
    color: white;

}
#email{
    background-color: rgb(49, 33, 33);
    border: 1px solid black;
    box-shadow: inset 0px 1px 5px 0px black;
    color: white;
}

#sect_4{
    opacity: 80%;
    font-size: 11px;
    position: absolute;
    top: 170px;
    left: 50px;
}


input:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

nav li:hover{
    cursor: pointer;
}
