body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header{
    display: flex;
    position: absolute;
    color: white;
    align-content: center;
    border: 0px solid black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}
/* 
header nav{
    color: white;

} */
header h1{
    margin-left: 50px;
    text-transform: uppercase;
}


header nav{
    display: flex;
    list-style:none;
    margin-right: 30px;
}
header nav li{
    margin: 0px 20px 0px;
}

#first_sect{
    background-color: black;
}

#database{
    width: 100%;
    z-index: -1;
    position: absolute;
    border: 0px solid black;
    height: 100%;

    
}
#first_sect:after{
    position: absolute;
    content:'';
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 20%;
}

header nav li:hover{
    cursor: pointer;
}

@media (max-width: 1000px){

    header{
        padding-top:40px;
        /* padding-right: 100px; */
        
    }
}

@media (max-width: 600px){

    header{
        flex-direction: column;
        
     }

    header h1{
        margin: 20px;
        
     }
     
    #first_sect:after{
        opacity: 30%;
    }
}