body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#back{
    background-color: #100c25;
    margin:0px;
    padding: 0px;
    height: 753px;
    top: 0px;
    z-index: 9;
}  

#circle{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background:rgb(250, 248, 189);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 1045px;
    top: 375px; 
    opacity: 100%;
    box-shadow: 0px 0px 30px 0px rgb(247, 243, 145);
    transition: 1s ease all;
    
    

}    



#circle:hover {
    transform: translate(0px,-150px);
    background: white;
    box-shadow: 0px 0px 100px 0px rgb(255, 251, 0);
    height: 130px;
    width: 130px;
    

    
}

#circle:hover + #back{

    background-color: rgb(212, 107, 69);

    /* animation-name: back;
    animation-duration: 3s;
     */
    

}


/* #circle:not(:hover) + #back{
    animation-name: rev_back;
    animation-duration: 3s;

}


@keyframes back {
    from{
        background-color: #100c25 ;
    }
    to{
        background-color: orangered;
    }
}

@keyframes rev_back {
    from{
        background-color: orangered ;
    }
    to{
        background-color: #100c25
        ;
    }
} */






